.scanBtn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.confirmBooking {
    margin-left: 5px;
}

.content {
    font-size: 14px;
    padding: 10px 20px;
}

.divInlineBlock {
    display: inline-block;
}

.divBlock {
    display: inline-block;
}

.flex-container {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.flex-width {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.white-padding {
    font-size: 15px;
    color: dodgerblue;
    padding: 14px 16px;
    background-color: white;
}

.flex-1 {
    flex: 1;
}
